<!DOCTYPE html>
<html lang="en">
<head>
	<style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form action="completarRegistro" method="post" class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<title>Registro</title>

					<span class="login100-form-title p-b-34 p-t-27">
						Registro en CubiculosTEC, por favor proporciona los siguientes datos para poder realizar el registro.
					</span>

					<div class="wrap-input100 validate-input" data-validate="Numero de cédula">
						<label>Número de cédula</label><br>
						<input class="input100" type="number" maxlength="9" size="12" pattern="/\d{9}/" name="cedula">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Numero de carne">
						<label>Número de carné</label><br>
						<input class="input100" type="number" size="12" maxlength="10" pattern="/\d{9}/" name="carne">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate = "Nombre">
						<label>Nombre</label><br>
						<input class="input100" type="text" size="40" name="nombre">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input">
						<label>Primer apellido </label><br>
						<input class="input100" type="text" size="40" name="primerApellido">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input"">
						<label>Segundo apellido </label><br>
						<input class="input100" type="text" size="40" name="segundoApellido">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="edad">
						<label>Edad</label><br>
						<input class="input100" type="number" size="5" min="17" max="99" pattern="/\d{9}/" name="edad">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Fecha de nacimiento">
						<label>Fecha de nacimiento</label><br>
						<input class="input100" type="date" name="fechaNacimiento" placeholder="Fecha nacimiento">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Enter email">
						<label>Correo electrónico</label><br>
						<input class="input100" type="email" name="correo" size="40" placeholder="&#64;estudiantec.cr / &#64;itcr.ac.cr">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<label>Contraseña</label><br>
						<input class="input100" type="password" size="40" name="pass">
						<label></label><br>Debe contener: 
						<br>-Mínimo 8 caracteres.
						<br>-Al menos una letra mayúscula./n
						<br>-Al menos una letra minúscula.
						-<br>-Al menos un símbolo especial.</label><br><br>
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div><br>

					<INPUT type = SUBMIT value="Registrarme"> 

					<!--
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Registrarme
						</button> 
					</div>-->

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

</body>
</html>