<html lang="en">
<head>
    @{
        ViewData["Title"] = "Reservar cubículo";
    }
    <h1>@ViewData["Title"]</h1>
    <p>
</head>
<body>
    <table  width="700" height="700" cellspacing="20" style="border: 2px solid #0087AE;">
        <thead>
            <tr height="50" style="background-color: #37D2FF ;">
                <td align="center">Filtrado</td>
                <td align="center"> </td>
                <td align="center">Capacidad</td>
                <td align="center">Servicios especiales</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" align="center">1</td>
                <td colspan="2" align="center">1</td>
            </tr>
            <tr>
                <td colspan="2" align="center">1</td>
                <td colspan="2" align="center">1</td>
            </tr>
            <tr>
                <td colspan="2" align="center">1</td>
                <td colspan="2" align="center">1</td>
            </tr>
            <tr>
                <td colspan="2" align="center">1</td>
                <td colspan="2" align="center">1</td>
            </tr>
            <tr>
                <td colspan="2" align="center">1</td>
                <td colspan="2" align="center">1</td>
            </tr>
            <tr>
                <td colspan="2" align="center">1</td>
                <td colspan="2" align="center">1</td>
            </tr>
        </tbody>
    </table>
</body>
</html>