@{
    ViewData["Title"] = "CubículosTEC";
}


<div class="d-flex align-items-center" >
    <img src="https://www.elfinancierocr.com/resizer/CHInCpChqMM02kF8NQkrYDLYSDg=/arc-anglerfish-arc2-prod-gruponacion/public/GANSKRI6OBDQXKUF42QI66SLEU.jpg" alt="" class="mr-4" width="50%" style="margin-top: 80px; margin-right: 40px;">
    <div>
        <h1 class="display-4">Bienvenido a Cubículos TEC</h1>
        <p>La biblioteca pone a tu disposición una herramienta que te permite consultar la disponibilidad de los cubículos y resérvalos desde cualquier lugar.</p>
    </div>
    <style>
        .display-4{
            font-family: Helvetica; 
            font-weight: bold;
            color: #084e7d !important;  
        }
    </style>
</div>
