@{
    ViewData["Title"] = "CubículosTEC";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Cubículos TEC</h1>
    <p>Este es un espacio para que podas reservar cubículos de forma fácil y rápida desde cualquier lugar.</p>
</div>
